/* Your Website Styles */
body {
	font-family: 'Lato', sans-serif;
	background: url("../img/bedge_grunge.png");
	color: #434B4E;
}

h1{
	color: #fff;
	background-color: #53717C;
}

h2{
	color: #434B4E;
	background-color: #C8783B;
}


div {
	margin-top: -60px;	x 
}


/* Show Grid */
